/*Disclaimer: Some of these probably are not used due to ongoing development ;)*/

/*list id*/
.skill-icon {
	align-items: center;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	list-style: none;
	margin-right: 7rem;
}

.skill-logo {
	height: 5rem;
	width: auto;
	opacity: 0.5;
	margin-left:4rem;
	margin-bottom: 2rem;
	-webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;
}
.skill-logo:hover {
	opacity: 1;
}
ul.skill-icon li{
	position: relative;
	display: inline-block;
}
ul.skill-icon > li:before{
	content: attr(data-content);
	color: white;
	position: absolute;
	top: 75%;
	left: 45%;
	width: 60%;
	height: 20%;
	text-align: center;
	background-color: rgba(0,0,0,0.75);
	z-index: 1;
	opacity: 0.5;
	-webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;
}
ul.skill-icon:hover li:before{
	opacity: 1;
}

.head-section {
	text-align: center;
	color: white;
	/*min-width: 1024px;*/
	background-image: 
		linear-gradient(
			to bottom,
			rgba(255,255,255,0) 85%,
			rgba(255,255,255,1) 90%
		),
		url('../img/profpic-front.png'),
		url('../img/profpic-back4.jpg');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	padding-top: 35%;
	padding-bottom: 0%;
	color: #2F6841;
	/*background: linear-gradient(
		to bottom,
		rgba(0,0,0,0) 50%,
		rgba(0,0,0,0) 100%
	);*/
}
#wrap{
	position: relative;
	display: inline-block;
}
.more-section {
	background-image: url(../img/more-bg.png);
	background-repeat: no-repeat;
	background-position: center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
}
.more-text {
	font-family: Dosis;
	text-align: left;
	margin-right: 50%;
}

.bg-white{
	background-color: #FFFFFF;
}

.bg2{
	background-color: rgba(47,104,65, 0.7);
}

.intro-section{
	padding: 10px 30px;
	width: 90vw;
	/*margin: 0% 10% 0% 10%;*/
	outline: #FFFFFF ridge thin;
	margin: 60% 0 auto;
	font-size: 10px;
}

.nav-arrow{
	font-size: 50pt;
	padding-top:15%;
	display: none;
	cursor: pointer;
	color: #B6CDB1;
}
.nav-arrow2{
	font-size: 30pt;	
	cursor: pointer;
	color: #B6CDB1;
	padding-right: 8%;
	margin-top: -20pt;
}
.not-active{
	font-size: 35pt;
	pointer-events: none;
	/*visibility: hidden;*/
}
@media (min-width: 660px){
	.head-section{/*length-wise phone*/
		background-image:
			linear-gradient(
				to bottom,
				rgba(255,255,255,0) 85%,
				rgba(255,255,255,1) 90%
			),
			url('../img/profpic-front.png'),
			url('../img/profpic-back3.jpg');
	}
	.intro-section{
		width: 75vw;
		margin: 0 auto;
	}
	.nav-arrow2{
		display: block;
		padding-right: 55px;
	}
	ul.skill-icon > li:before{
		opacity: 0.5;
	}
}
@media (min-width: 960px){
	.head-section{/*reg-window*/
		background-image:
			linear-gradient(
				to bottom,
				rgba(255,255,255,0) 85%,
				rgba(255,255,255,1) 90%
			),
			url('../img/profpic-front.png'),
			url('../img/profpic-back.jpg');
	}
	.intro-section{
		width: 50vw;
	}
	.nav-arrow{
		display: block;
	}
	.nav-arrow2{
		font-size: 40pt;
		display: block;
		padding-right: 0%;
		margin-top: 0;
	}
	.not-active{
		font-size: 45pt;
	}
	ul.skill-icon > li:before{
		opacity: 0;
	}
}
.modal-body li{
	font-size: 18pt;
}
.badge-no-size{
	font-size: 100%;
}