/*list id*/
.skill-icon {
	align-items: center;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	list-style: none;
	margin-right: 7rem;
}

.skill-logo {
	height: 5rem;
	width: auto;
	opacity: 0.5;
	margin-left:4rem;
	margin-bottom: 2rem;
	-webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;
}
.skill-logo:hover {
	opacity: 1;
}

.head-section {
	text-align: center;
	color: white;
	background-image: url('../img/profpic.jpg');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	padding-top: 35%;
	padding-bottom: 5%;
	color: #2F6841;
}

.more-section {
	background-image: url(../img/more-bg.png);
	background-repeat: no-repeat;
	background-position: center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
}
.more-text {
	font-family: Dosis;
	text-align: left;
	margin-right: 50%;
}

.bg-white{
	background-color: #FFFFFF;
}

.bg2{
	background-color: rgba(47,104,65, 0.7);
}

.intro-section{
	padding: 10px 30px;
	margin: 0% 10% 0% 10%;
	outline: #FFFFFF ridge thin;
}