/*list id*/
.skill-icon {
	align-items: center;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	list-style: none;
	margin-right: 7rem;
}

.skill-logo {
	height: 5rem;
	width: auto;
	opacity: 0.5;
	margin-left:4rem;
	margin-bottom: 2rem;
	-webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;
}
.skill-logo:hover {
	opacity: 1;
}

.head-section {
	background-image: url(../img/intro-bg.png);
}

.more-section {
	background-image: url(../img/more-bg.png);
	background-repeat: no-repeat;
	background-position: center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
}
.more-text {
	font-family: Dosis;
	text-align: left;
	margin-right: 50%;
}